* {
  margin: 0;
  box-sizing: border-box;
}

.header__section {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(70, 70, 172);
}

.header__text {
  color: white;
  font-size: 28px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 5px;
  padding-bottom: 5px;
  /* line-height: 1.24; */
}

.container {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.container .controls {
  position: absolute;
  bottom: 80px;
  left:80px;
  width: 60%;
  display: flex;
  justify-content: center;
  /* opacity: 0.2; */
  /* transition: opacity 0.4s; */
}